---
title: Welcome to Middleman
---
<img src="/images/book-cover.jpg" alt="Win big risk small" class="mobile" />
<div id="banner" class="wrapper">
    <div class="inner">
        <div class="text">
            <h3>EVER DREAMED HOW <br /><b>YOU</b> COULD DO THAT?</h3>
            <div class="half">
                <p>Make your fortune but start out with nothing? Just read WIN BIG RISK SMALL and you will see how it is done. </p>
                <p>With no higher education, no family fortune and armed only with a burning desire to succeed, Dorry Kordahi went from being a suburban hairdresser, to being the head of an incredibly diverse group of companies. He achieved this by turning his formula into breathtaking reality and is now one of Australia’s most highly respected and high-profile entrepreneurs. </p>
                <p>Locked away in a safe are three scraps of paper covered in scribble. These outline Dorry’s original formula. They might not look much yet they rapidly translated into what became one of Australia’s most exciting start-ups and is now a market leader. </p>
                <p>Using his unique business formula, Dorry Kordahi founded DKM Global, from the garage in his parents’ back yard in late 2002 while still in his mid-twenties. In one of the world’s most competitive industries with more than 4000 competitors in Australia alone, his star swiftly shone bright and he soon took the lead. </p>
            </div>
            <div class="half">
                <p>Today DKM Global is the market leader in the field of marketing and merchandise solutions but, as the result of several carefully orchestrated acquisitions and investments, now encompasses numerous women’s and men’s fashion companies, a fashion sock company and a large, blue chip portfolio of corporate uniform clients. </p>
                <p>Deservedly, awards and accolades have been and continue to be heaped upon Dorry. He has appeared multiple times in such prestigious publications as BRW’s Young Rich List as well as being an Ernst &amp; Young Entrepreneur of the Year Finalist and numerous other prestigious business awards. </p>
                <p>Now a respected leader, Dorry, within the pages of WIN BIG RISK SMALL, shares the formula that has made the success that he is. What is more he maintains and explains how anyone can adopt and use his formula to climb their own mountain of dreams. </p>
                <p>Dorry Kordahi’s story is one that will inspire you and set you on your own path to success.</p>
                <div class="paypal_button">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input name="cmd" value="_xclick" type="hidden">
                        <input name="button_subtype" value="services" type="hidden">
                        <input name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHostedGuest" type="hidden">
                        <input name="submit" value="Buy Now" class="btn" border="0" type="submit">
                        <input name="item_number" value="ISBN:9780980619348" type="hidden">
                        <input name="amount" value="29.95" type="hidden"> 
                        <input name="shipping" value="0" type="hidden">
                        <input name="business" value="Dorry@dkmblue.com" type="hidden">
                        <input name="lc" value="US" type="hidden">
                        <input name="item_name" value="Power to Act-ISBN:9780980619348" type="hidden">
                        <input name="currency_code" value="AUD" type="hidden">
                        <input name="no_note" value="0" type="hidden">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <img src="/images/book-cover.jpg" alt="Win big risk small" class="desktop" />
</div>

<div id="reviews" class="wrapper">
    <h2>Reviews</h2>
    <div id="review-scroll">
        <div class="review">
            <img src="/images/review-avator.jpg">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut </p>
            <h3>Jelena Jeni</h3>
            <h4>Designer</h4>
        </div>
        <div class="review">
            <img src="/images/review-avator.jpg">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut </p>
            <h3>Jelena Jeni</h3>
            <h4>Designer</h4>
        </div>
        <div class="review">
            <img src="/images/review-avator.jpg">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut </p>
            <h3>Jelena Jeni</h3>
            <h4>Designer</h4>
        </div>
    </div>
</div>


<div id="author" class="wrapper">
    <h2>Dorry Kordahi</h2>
    <div class="group section">
        <div class="col span_1_of_3">
            <p>DORRY KORDAHI’s journey from HSC failure to being one of Australia’s leading entrepreneurs is not just the stuff of dreams. It is the substance of one man’s remarkable tenacity and talent. Highly respected and experienced, he is the winner of numerous, prestigious industry awards and has been listed on BRW’s Young Rich List some six times. </p>

            <p>In recent years he has focussed on a series of mergers and acquisitions that have seen him buy numerous companies and several Australian fashion brands. Through his holding company DKM Global, he controls businesses as diverse as promotional merchandise, men’s and women’s fashion brands and publishing as well as providing incubator funding and mentoring to numerous start-ups.</p>

            <p>‘THE WORLD IS NOT ENOUGH’ embodies Dorry’s story and lust for life.<br />
            A restive character from an early age, he has constantly sought out and conquered numerous challenges, from successfully completing a hairdressing apprenticeship </p>
        </div>
        <div class="col span_1_of_3">
            <p>to appease his father through a stint playing international basketball professionally because he loved it, to turning his back on both in order to build and meld a diverse group of companies into a single business with little more than grit and determination.</p>

            <p>His initial foray into business was formed as a plan scribbled on a few sheets of paper and started from his parents’ backyard shed when he was just twenty-six. </p>

            <p>His warehouse was their garden, his budget was tiny and he paid himself only expenses. Yet in just two years he built the foundations of what would become his fortune and in four more he again indulged his passion for basketball when he became a co-owner of the team he had once been a towel boy for – The legendary Sydney Kings.</p>

            <p>Along the way he has also successfully relaunched the music career of Cosima De Vito which led to her performing alongside the legendary Demis Roussos at the Sydney</p>
        </div>
        <div class="col span_1_of_3">
            <img src="/images/dorry-kordahi.jpg" alt="Dorry Kordahi" />
            <p>Opera House, managed numerous American basketball stars and launched his own magazine.</p>

            <p>Yet he remains as completely motivated as ever. </p>

            <p>But his creed THE WORLD IS NOT ENOUGH remains.</p>

            <p>Like the explorers of old his thirst for discovery remains unquenched.</p>
        </div>
    </div>
</div>


<div id="gallery" class="wrapper">
    <h3>Gallery</h3>
    <div class="gallery">
        <div class="section group">
            <div class="col span_1_of_3">

            </div>
            <div class="col span_1_of_3">

            </div>
            <div class="col span_1_of_3">

            </div>
        </div>
        <div class="section group">
            <div class="col span_1_of_3">

            </div>
            <div class="col span_1_of_3">

            </div>
            <div class="col span_1_of_3">

            </div>
        </div>
        <div class="section group">
            <div class="col span_1_of_3">

            </div>
            <div class="col span_1_of_3">

            </div>
            <div class="col span_1_of_3">

            </div>
        </div>
        <div class="section group">
            <div class="col span_1_of_3">

            </div>
            <div class="col span_1_of_3">

            </div>
            <div class="col span_1_of_3">

            </div>
        </div>
    </div>
</div>

<div id="purchase" class="wrapper">
    <div class="inner group section">
        <div class="col span_1_of_2">
            <img src="/images/book-cover.jpg" alt="Puchase win big risk small" />
        </div>
        <div class="col span_1_of_2">
            <div class="text">
                <h2>Purchase<br /><b>Win big risk small</b></h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut </p>
                <p>Free delivery Australia wide<br />ISBN: 9780980619348</p>
                <h3>$29.95 AU</h3>
                <!-- <a href="#" class="btn">Buy Now</a> -->
                <div class="paypal_button">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input name="cmd" value="_xclick" type="hidden">
                        <input name="button_subtype" value="services" type="hidden">
                        <input name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHostedGuest" type="hidden">
                        <input name="submit" value="Buy Now" class="btn" border="0" type="submit">
                        <input name="item_number" value="ISBN:9780980619348" type="hidden">
                        <input name="amount" value="29.95" type="hidden"> 
                        <input name="shipping" value="0" type="hidden">
                        <input name="business" value="Dorry@dkmblue.com" type="hidden">
                        <input name="lc" value="US" type="hidden">
                        <input name="item_name" value="Power to Act-ISBN:9780980619348" type="hidden">
                        <input name="currency_code" value="AUD" type="hidden">
                        <input name="no_note" value="0" type="hidden">
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>

<div id="stockists" class="wrapper">
    <h3>Also stocked at</h3>
    <div class="group section">
        <div class="col span_1_of_4">
            <a class="logo" href="http://www.collinsbooks.com.au/Power-to-Act/p/9780980619348/" style="background-image: url(/images/collins.jpg);" target="_blank">
                collins books
            </a>
            <a href="http://www.collinsbooks.com.au/Power-to-Act/p/9780980619348/" class="circle-btn" target="_blank">
                <i class="fa fa-link" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col span_1_of_4">
            <a class="logo" href="http://www.booktopia.com.au/power-to-act-dorry-kordahi/prod9780980619348.html" style="background-image: url(/images/booktopia.png);" target="_blank">
                booktopia
            </a>
            <a href="http://www.booktopia.com.au/power-to-act-dorry-kordahi/prod9780980619348.html" class="circle-btn" target="_blank">
                <i class="fa fa-link" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col span_1_of_4">
            <a class="logo" href="http://www.dymocks.com.au/ProductDetails/ProductDetail.aspx?R=9780980619348" style="background-image:url(/images/dymocks.png);" target="_blank">
                dymocks books
            </a>
            <a href="http://www.dymocks.com.au/ProductDetails/ProductDetail.aspx?R=9780980619348" class="circle-btn" target="_blank">
                <i class="fa fa-link" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col span_1_of_4">
            <a class="logo" href="http://www.angusrobertson.com.au/book/power-to-act-an-entrepreneurs-vision/12284498/" style="background-image: url(/images/A&R-logo-with-tagline.png);" target="_blank">
                a&r
            </a>
            <a href="http://www.angusrobertson.com.au/book/power-to-act-an-entrepreneurs-vision/12284498/" class="circle-btn" target="_blank">
                <i class="fa fa-link" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <p>...and all other major and independent book retailers.</p>
</div>

<div id="contact" class="wrapper">
    <h3>Contact</h3>
    <div class="form">
        <p>LOREM IPSUM DOLOR SIT AMET, CONSECTETUER </p>
        <form>
            <input type="text" name="name" placeholder="name">
            <input type="email" name="email" placeholder="email">
            <input type="tel" name="tel" placeholder="phone">
            <textarea placeholder="your message"></textarea>
            <input type="submit" value="send">
        </form>
    </div>
</div>